<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PersonMap</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FindPerson</display-name>
    <servlet-name>FindPerson</servlet-name>
    <servlet-class>com.ryan.servlet.FindPerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPerson</servlet-name>
    <url-pattern>/FindPerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPerson</display-name>
    <servlet-name>InsertPerson</servlet-name>
    <servlet-class>com.ryan.servlet.InsertPerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPerson</servlet-name>
    <url-pattern>/InsertPerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePerson</display-name>
    <servlet-name>UpdatePerson</servlet-name>
    <servlet-class>com.ryan.servlet.UpdatePerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePerson</servlet-name>
    <url-pattern>/UpdatePerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePerson</display-name>
    <servlet-name>DeletePerson</servlet-name>
    <servlet-class>com.ryan.servlet.DeletePerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePerson</servlet-name>
    <url-pattern>/DeletePerson</url-pattern>
  </servlet-mapping>
</web-app>